@import '../../../../../tsipframework/tsip-global/assets/fonts/typography.scss';

.t-sip-header {
    &-container {
        position: relative;
        display: flex;
        padding: 4px 0.42vw;
    }
    
    &-banner {
        max-width: 100%;
        height: auto;
    }

    &-content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &-left {
        width: 23.7%
    }

    &-right {
        width: 23.7%;
        padding-left: 0.4vw;
        padding-right: 1.8vw;
    }

    &-logo {
        width: 30%;
    }

    &-clock {
        padding-left: 1.5vw;
        min-width: 5.2vw;
        @include Normal-SemiBold();

        &-border {
            height: 16px;
            background-color: var(--main-color);
            width: 1px;
        }
    }

    &-date {
        color: var(--main-color);
        @include Small();
    }

    &-weather {
        padding-right: 12px;
        @include Normal-SemiBold();
        color: var(--main-color);
    }
}