.ts-scada-info {
    background: linear-gradient(98.86deg, rgba(48, 65, 78, 0.6) 6.74%, rgba(6, 27, 43, 0.2) 93.26%);

    &-content > a {
        height: 36px;
        color: var(--text-color);
        display: flex;
        align-items: center;
    }
}