.ts-scada-main {
    &-content {
        padding: 8px 20px;
        &-list {
            margin-top: 20px;

            .t-sip-components-card {
                width: 23.6vw;
            }
        }
    }
}